# tags
tag = 9 

# programs
M-q     = st
M-e     = st -e yazi
M-Return = firefox-bin
M-space = dmenu_run
Print = maim -s ~/Screenshots/$(date +%Y-%m-%d_%H-%M-%S).png

# window management
M-w     = kill
M-v     = kisswmctl float
M-f     = kisswmctl fullscreen
M-S-e   = quit
M-g     = global
M-S-r   = kisswmctl reload

# focus
M-h     = focus-left
M-l     = focus-right
M-k     = focus-up
M-j     = focus-down

# swap
M-S-h   = swap-left
M-S-l   = swap-right
M-S-k   = swap-up
M-S-j   = swap-down

# tag switching
M-1     = tag-1
M-2     = tag-2
M-3     = tag-3
M-4     = tag-4
M-5     = tag-5
M-6     = tag-6
M-7     = tag-7
M-8     = tag-8
M-9     = tag-9

# move window to tag
M-S-1   = move-1
M-S-2   = move-2
M-S-3   = move-3
M-S-4   = move-4
M-S-5   = move-5
M-S-6   = move-6
M-S-7   = move-7
M-S-8   = move-8
M-S-9   = move-9

# media

XF86-AudioRaiseVolume  = wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%+ && VOL=$(wpctl get-volume @DEFAULT_AUDIO_SINK@ | awk '{printf "%d", $2 * 100}') && notify-send -h string:x-dunst-stack-tag:osd -h int:value:$VOL -t 1500 "Volume" "$VOL%"&& kill -USR1 $(pidof kantbar)
XF86-AudioLowerVolume  = wpctl set-volume @DEFAULT_AUDIO_SINK@ 5%- && VOL=$(wpctl get-volume @DEFAULT_AUDIO_SINK@ | awk '{printf "%d", $2 * 100}') && notify-send -h string:x-dunst-stack-tag:osd -h int:value:$VOL -t 1500 "Volume" "$VOL%" && kill -USR1 $(pidof kantbar)
XF86-AudioMute         = wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle && notify-send -h string:x-dunst-stack-tag:osd -t 1500 "Volume" "Muted" && kill -USR1 $(pidof kantbar)
XF86-MonBrightnessUp   = brightnessctl set 5%+ && BRI=$(brightnessctl get) && MAX=$(brightnessctl max) && VAL=$((BRI * 100 / MAX)) && notify-send -h string:x-dunst-stack-tag:osd -h int:value:$VAL -t 1500 "Brightness" "$VAL%" && kill -USR1 $(pidof kantbar)
XF86-MonBrightnessDown = brightnessctl set 5%- && BRI=$(brightnessctl get) && MAX=$(brightnessctl max) && VAL=$((BRI * 100 / MAX)) && notify-send -h string:x-dunst-stack-tag:osd -h int:value:$VAL -t 1500 "Brightness" "$VAL%" && kill -USR1 $(pidof kantbar)
